src/wsdl/localhost_8080/AP-service/APservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://APpack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://APpack/" name="APservice">
<types>
<xsd:schema>
<xsd:import namespace="http://APpack/" schemaLocation="http://localhost:8080/AP-service/APservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"/>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="adminBool">
<part name="parameters" element="tns:adminBool"/>
</message>
<message name="adminBoolResponse">
<part name="parameters" element="tns:adminBoolResponse"/>
</message>
<portType name="APservice">
<operation name="getUsers">
<input wsam:Action="http://APpack/APservice/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://APpack/APservice/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="authenticate">
<input wsam:Action="http://APpack/APservice/authenticateRequest" message="tns:authenticate"/>
<output wsam:Action="http://APpack/APservice/authenticateResponse" message="tns:authenticateResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://APpack/APservice/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://APpack/APservice/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="getCustomers">
<input wsam:Action="http://APpack/APservice/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://APpack/APservice/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://APpack/APservice/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://APpack/APservice/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://APpack/APservice/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://APpack/APservice/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://APpack/APservice/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://APpack/APservice/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://APpack/APservice/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://APpack/APservice/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="adminBool">
<input wsam:Action="http://APpack/APservice/adminBoolRequest" message="tns:adminBool"/>
<output wsam:Action="http://APpack/APservice/adminBoolResponse" message="tns:adminBoolResponse"/>
</operation>
</portType>
<binding name="APservicePortBinding" type="tns:APservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adminBool">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="APservice">
<port name="APservicePort" binding="tns:APservicePortBinding">
<soap:address location="http://localhost:8080/AP-service/APservice"/>
</port>
</service>
</definitions>